<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            TOPTOP.RU: онлайн-магазин модной одежды с бесплатной доставкой
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    {% block header %}
        <div class="header">
            <h1>TOPTOP.RU</h1>
            <nav class="header__nav">
                <a href="/" class="header_nav_link">Главная</a>
                <a href="/clothes/" class="header_nav_link">Одежда</a>
                <a href="/shoes/" class="header_nav_link">Обувь</a>
                <a href="/accessories/" class="header_nav_link">Аксессуары</a>
            </nav>
        </div>
    {% endblock %}
       
    {% block content %}
         <div class="content">
             <img src="../static/img/content.png">
         </div>
    {% endblock %}

    {% block footer %}
        <div class="footer">
            <h3>Адрес:</h3>
            <p>Москва, ТРЦ “АВИАПАРК”, Ходынский б-р. д.4., 2 этаж (центральный эскалатор, напротив выхода Стокманн)</p>
            <h3>График работы:</h3>
            <p>ПН - ЧТ  10:00 - 22:00</p>
            <p>ПТ - СБ  10:00 - 23:00</p>
            <p>ВС  10:00 - 22:00</p>
            <h3>Контакты:</h3>
            <p>E-mail:hello@toptop.ru</p>
            <p>Сотрудничество:pr@toptop.ru</p>
        </div>
    {% endblock %}
</body>
</html>