{% extends 'base.html' %}

{% block title %}
Женская обувь
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Женская обувь</h1>
        <nav class="header__nav">
            <a href="/" class="header_nav_link">Главная</a>
            <a href="/clothes/" class="header_nav_link">Одежда</a>
            <a href="/shoes/" class="header_nav_link">Обувь</a>
            <a href="/accessories/" class="header_nav_link">Аксессуары</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <img src="../static/img/item4.png">
        <img src="../static/img/item5.png">
        <img src="../static/img/item6.png">
    </div>
{% endblock %}